<html>
  <body>
    <div>
      <table border="1">
        <thead>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Address</th>
        </thead>
        <tbody id='history'>
        </tbody>
      </table>
    </div>
    <script>
      fetch('/api/coordinates/').then(
        function (response) { return response.json() }
      ).then(
        function (data) {
          var tbody = document.getElementById("history");
          data.forEach(
            function (dataRow) {
              var row = document.createElement('tr');
                var latitude = document.createTextNode(dataRow.latitude);
              var longitude = document.createTextNode(dataRow.longitude);
              tbody.append(row);
              var td = document.createElement('td');
              row.append(td);
              td.append(latitude);
              td = document.createElement('td');
                row.append(td);
              td.append(longitude);
              console.log('https://maps.googleapis.com/maps/api/geocode/json?latlng=' + dataRow.latitude + ',' + dataRow.longitude + '&key=AIzaSyARmmE4s32sgyWffg1Oo3oWKcsw2TUTmd0&result_type=street_address')
              fetch(
                'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + dataRow.latitude + ',' + dataRow.longitude + '&key=AIzaSyARmmE4s32sgyWffg1Oo3oWKcsw2TUTmd0&result_type=street_address'
              ).then(
                function (response) { return response.json() }
              ).then(
                function (data) {
                  var address = document.createTextNode(data.results[0].formatted_address);
                  td = document.createElement('td');
                  row.append(td);
                  td.append(address);
                }
              )
            }
          )
          }
        )
    </script>
  </body>
</html>
